*{
    margin: 0px;
    padding: 0px;
    background-color: beige;
    text-align: center;
}

h1{
    color: #581845 ;
}
button{
    background-color: #FFC300;
    padding: 6px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 3px;
}

button:hover{
    background-color: #FF5733;
}

img {
    width: 400px;
    height: 250px;
}

#thirdDiv {
    background-color: #FF5733;
    height: 600px;
    width: 500px;
    padding: 50px;
    border: solid 2px black;
    border-radius: 5px;
    margin: auto;
}

#thirdDiv ul li{
    font-size: 25px;
    list-style: none;
    text-align: center;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}



/* 
II Añade un poco de estilo
  A. Agregue la etiqueta de estilo a su documento HTML.
  B. Asignar al tercer div el id "thirdDiv".
  C. Asignar a los otros divs la clase "divClass".
  D. Asignar al span que se encuentra dentro de su segundo div el id "spanId".
  E. Agregue una regla de estilo a su elemento h1 cambiando el color del texto (Listado de colores: https://www.crockford.com/wrrrld/color.html).
  F. Agregue una regla de estilo al elemento img dándole un ancho de 400px.
  G. Agregue una regla de estilo a 'thirdDiv' cambiando la altura a 600px y el ancho a 500px.
  H. Agregue una regla de estilo a 'thirdDiv' cambiando el color de fondo por el que quiera.
  I. Cambie el tamaño de la fuente para 'spanId' a 18px.
  J. Asignar al id 'spanId' un margen de 50px.
  K. Asignar al id 'thirdDiv' un relleno (padding) de 50px.
  L. Asignar al id 'thirdDiv' un borde con cualquier ancho de color y estilo que elija.
  */